* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f2f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container {
  max-width: 500px;
  min-height: 1000px;
  text-align: center;
  margin: auto;
  padding: 3rem;
  text-shadow: 1px 1px 2px purple;
  box-shadow: 0px 4px 10px rgba(0, 128, 0, 0.2);
}

.input-section {
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 8px;
  border: #555;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #f9f9f9;
  text-align: left;
}

.input-section label {
  font-weight: 500;
  margin-bottom: 4px;
}

.input-section label {
  font-weight: 500;
  margin-bottom: 4px;
}
.input-section input[type="text"],
.input-section input[type="file"] {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 100%;
}

#btn {
  background-color: green;
  color: white;
  cursor: pointer;
  transition: .3s;
  width: 4rem;
  height: 2rem;
  font-size: medium;
  border-radius: 5px;
}

.card-preview {
  margin-top: 6px;
  padding: 4rem;
  font-size: larger;
  text-align: center;
  display: none;
}

.cardOutput {
display: flex;
justify-content: space-between;
align-items: left;
padding: 1rem;
border: 1px solid #ccc;
border-radius: 12px;
background-color: white;
margin-top: 1rem;
flex-wrap: nowrap;
gap: 1rem;
width: 400px;
}

.cardInfo {
flex: 1;
text-align: left;
white-space: normal;
word-break: break-word;
}

.cardInfo p {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.cardImage {
flex: 1;
text-align: right;
display: flex;
justify-content: flex-end;
align-items: center;
}

#profileimage {
width: 100px;
height: 100px;
border-radius: 50%;
object-fit: cover;
border: 2px solid #ccc;
max-width: 100%;
}

.light {
  background-color: whitesmoke;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.color {
  background-color: burlywood;
  color: black;
}

/* Responsive CSS for moblie screen. */
@media (max-width: 600px) {
  .cardOutput {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cardInfo {
    text-align: center;
    margin-bottom: 1rem;
  }

  .cardImage {
    text-align: center;
  }
}


#dwdimg {
  margin-top: 1rem;
  background-color: goldenrod;
  color: black;
  cursor: pointer;
  transition: .3s;
  width: 7rem;
  height: 2rem;
  font-size: medium;
  border-radius: 5px;
  display: none;
}

#dwdpdf {
  margin-top: 1rem;
  background-color: goldenrod;
  color: black;
  cursor: pointer;
  transition: .3s;
  width: 7rem;
  height: 2rem;
  font-size: medium;
  border-radius: 5px;
  display: none;
}